<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356300846998-nl156brd2b068055nut4i3u5rn451ju6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356300846998-nl156brd2b068055nut4i3u5rn451ju6</string>
	<key>API_KEY</key>
	<string>AIzaSyDwVXUoCU7eoyGp_kpntOWP_d68ICn6UdU</string>
	<key>GCM_SENDER_ID</key>
	<string>356300846998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onedaydiary</string>
	<key>PROJECT_ID</key>
	<string>diaryapp-f7fb1</string>
	<key>STORAGE_BUCKET</key>
	<string>diaryapp-f7fb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356300846998:ios:f0a9f404d4ce94058fcfb7</string>
</dict>
</plist>